body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0;
    text-decoration: none;
}
header{
    background-color: black;
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}
footer{
    background-color: black;
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
main{
    color: darkblue; 
    font-style: italic;
    margin: 10px 20px 65px;
    
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: green;
    text-decoration: none;
}
a:visited{
    color:black;
    text-decoration: underline !important;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: brown !important;
    transition: 0.3s;
}
a:active{
    color:black;
    opacity: 0.3;
}
div.menu{
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background-color: greenyellow;
    box-shadow: grey;
}
div.menu:hover{
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}

