body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0;
    text-decoration: none;
}
header{
    background-color: black;
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}
footer{
    background-color: black;
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt;
}
main{
    color: darkblue; 
    font-style: italic;
}
a {
    color: green;
    text-decoration: none;
}
a:link{
    color: green;
    text-decoration: none;
}
a:visited{
    color:black;
    text-decoration: underline !important;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: brown !important;
}
a:active{
    color:black;
    opacity: 0.3;
}

